<p>
  home works!
</p>

<div *ngIf="user$ | async as user">
  {{ user.email }}
</div>

<p *ngIf="error">{{ error }}</p>

<div *ngIf="isLoading">Trwa ładowanie...</div>

<div class="buttons">
  <button (click)="loadOtherUser()">Load other user</button>

  <button (click)="onStopLoadingOtherUser()">Stop loading user</button>

  <button #button>fromEvent example</button>

  <button (click)="onAnimationStart()">Start animation</button>

  <button (click)="onAnimationStop()">Stop animation</button>

</div>
